#accordeon {
     display: flex;
     margin: 0;
     padding: 0;
}

#accordeon li {
     display: flex;
    background-color: #EEE;
    list-style-type: none;
    overflow: hidden;
    width: 107px;
    margin: 5px;
    border-radius: 20px;
    padding: 5px;

    /* CSS Transition */
    -webkit-transition: all 1s ea se-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#accordeon li.actif {
     width: 317px;
}

#accordeon li figure {
     width: 317px;
     display: flex;
     margin: 10px
}

#accordeon li figure figcaption {
     width: 200px;
     padding: 10px; /* pour espacer le texte, padding de 10px */
     display: table-cell;

}

#accordeon li figure figcaption > * {
     display: block;
     vertical-align: top;
}
